{
  "presets": ["@babel/react", ["@babel/env", { "modules": false }]],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/react",
        "@babel/preset-typescript",
        "@babel/preset-env",
        ["@babel/env", { "modules": "commonjs" }, "test"]
      ],
      "plugins": [["babel-plugin-styled-components", { "fileName": false }]]
    }
  }
}
