*, *:before,
*:after {
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  text-align: center;
  max-width: 600px;
  padding-bottom: 100px;

  &__image {
    width: 100px;
    height: auto;
  }
}

.left {
  text-align: left;
}

.files-dropzone {
  cursor: pointer;
  font-size: 16px;
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  height: 50px;
  // background: #464b6b;
  background: #1b1c1d;
  color: #fff;
  transition: 0.3s all;

  &:hover {
    opacity: 0.9;
  }
}
